%h1 Listing ratings

%table
  %tr
    %th User
    %th Location
    %th Kind
    %th Value
    %th
    %th
    %th

  - @ratings.each do |rating|
    %tr
      %td= rating.user_id
      %td= rating.location_id
      %td= rating.kind
      %td= rating.value
      %td= link_to 'Show', admin_rating_path(rating)
      %td= link_to 'Edit', edit_admin_rating_path(rating)
      %td= link_to 'Destroy', admin_rating_path(rating), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Rating', new_admin_rating_path
