= form_for @location, url: @location.new_record? ? new_admin_location_path : admin_location_path(@location)  do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address    
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :indoor
    = f.check_box :indoor

  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
-#  .field
-#    = f.label :latitude
-#    = f.text_field :latitude
-#  .field
-#    = f.label :longitude
-#    = f.text_field :longitude
-#  .field
-#    = f.label :indoor
-#    = f.check_box :indoor
-#  .field
-#    = f.label :address
-#    = f.text_field :address
-#  .field
-#    = f.label :description
-#    = f.text_area :description
-#  .field
-#    = f.label :name
-#    = f.text_area :name
-#  .field
-#    = f.label :average
-#    = f.text_area :average
-#  .field
-#    = f.label :cache_id
-#    = f.number_field :cache_id
-#  .field
-#    = f.label :people_count
-#    = f.number_field :people_count


